extends layout

block content
  div(class="row row-offcanvas row-offcanvas-right")
    div(class="col-xs-12 col-sm-9")
      section(ng-show='ctrl.presences.length > 0')
        ul(class="nav nav-pills center-block tab-nav")
          li(ng-class="{active:ctrl.tab === 1}")
            a(ng-click="ctrl.tab = 1") Presences
          li(ng-class="{active:ctrl.tab === 2}")
            a(ng-click="ctrl.tab = 2") Presences details
        div(ng-if="ctrl.tab === 1" class="tab")
          table(class="table")
            thead
              tr
                th Became present
                th Became absent
                th Difference
                th Workday
            tbody
              tr(ng-repeat="presence in ctrl.presences | orderBy:'become_present -workday'")
                td {{presence.become_present}}
                td {{presence.become_absent}}
                td {{presence.difference}}
                td {{presence.workday}}
        div(ng-if="ctrl.tab === 2" class="tab")
          table(class="table")
            tr
              td Became present today:
              td {{ ctrl.became_present }}
            tr
              td Go home hour:
              td {{ ctrl.go_home_hour }}
            tr
              td Hours which should be worked till now (this month):
              td {{ ctrl.month_work_time_left.should_be_worked }}
            tr
              td Hours worked (this month):
              td {{ ctrl.month_work_time_left.actualy_worked }}
            tr
              td Missing hours worked till now (this month):
              td {{ ctrl.month_work_time_left.missing_time_in_work }}
            tr
              td Go home time including month balance:
              td {{ ctrl.month_work_time_left.go_home_hour_including_month_balance }}
      h2(ng-if="ctrl.presences.length === 0") Click worker on the right to show his presences
    div(class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar")
      div(class="list-group")
        div(ng-repeat="worker in ctrl.workers")
          a(ng-click="ctrl.get(worker.id)" href="#" class="list-group-item"  ng-class="{ active:ctrl.current_selected === worker.id }") {{worker.name}} {{worker.surname}}



